@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Transiciones básicas */
.transition {
    transition: all 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}

/* Animación para notificaciones */
@keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.notify {
    animation: slideIn 0.3s ease-out;
}

#resultados-busqueda {
    max-height: 400px;
    overflow-y: auto;
}

#resultados-busqueda::-webkit-scrollbar {
    width: 6px;
}

#resultados-busqueda::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 4px 4px 0;
}

#resultados-busqueda::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}
