<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <img class="text-white" src="" alt="Logo o cualquier weba">
            <ul class="flex space-x-4 text-white">
                <li><a href="#" class="hover:text-gray-400">Usuario</a></li>
                <li><a href="#" class="hover:text-gray-400">Configuracion</a></li>
    </nav>

    <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-bold mb-4">Opciones</h1>
        <div class="grid grid-cols-3 gap-4">
          
          <div class="bg-white p-4 shadow rounded">
            <img class="h-25 " src="imagenes/Nuevo.png" alt="">
            <h2 class="text-xl font-semibold">Añadir Producto</h2>
            <p class="mt-2 pb-5">Registra un nuevo producto en el sistema completando los datos como nombre, categoría, precio, stock e imagen.</p>
            <a href="create.blade.php" class=" bg-blue-500 text-white px-4 py-2 rounded">Añadir</a>
          </div>
      
          <div class="bg-white p-4 shadow rounded">
            <img class="h-25 " src="imagenes/Editar.png" alt="">
            <h2 class="text-xl font-semibold">Editar Producto</h2>
            <p class="mt-2 pb-5">Registra un nuevo producto en el sistema completando los datos como nombre, categoría, precio, stock e imagen.</p>
            <a href="edit.blade.php" class=" bg-blue-500 text-white px-4 py-2 rounded">Añadir</a>
          </div>
      
          <div class="bg-white p-4 shadow rounded">
            <img class="h-25 " src="imagenes/Eliminar.png" alt="">
            <h2 class="text-xl font-semibold">Eliminar Producto</h2>
            <p class="mt-2 pb-5">Registra un nuevo producto en el sistema completando los datos como nombre, categoría, precio, stock e imagen.</p>
            <a href="create.blade.php" class=" bg-blue-500 text-white px-4 py-2 rounded">Añadir</a>
          </div>
          
          <div class="bg-white p-4 shadow rounded">
            <img class="h-25 " src="imagenes/Venta.png" alt="">
            <h2 class="text-xl font-semibold">Ventas</h2>
            <p class="mt-2 pb-5">Registra un nuevo producto en el sistema completando los datos como nombre, categoría, precio, stock e imagen.</p>
            <a href="create.blade.php" class=" bg-blue-500 text-white px-4 py-2 rounded">Añadir</a>
          </div>

          <div class="bg-white p-4 shadow rounded">
            <img class="h-25 " src="imagenes/Envio.png" alt="">
            <h2 class="text-xl font-semibold">Envio</h2>
            <p class="mt-2 pb-5">Registra un nuevo producto en el sistema completando los datos como nombre, categoría, precio, stock e imagen.</p>
            <a href="create.blade.php" class=" bg-blue-500 text-white px-4 py-2 rounded">Añadir</a>
          </div>
      
        </div>
      </div>
    
    
</body>
</html>